.forgot {
  margin: 40px;
  font-size: 18px;
  font-weight: 500;
}
.forgotForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
}
.forgotForm input {
  padding: 15px 0 15px 10px;
  outline: none;
}
.forgotForm button {
  width: 20%;
  padding: 15px 0;
  background-color: var(--color-link-1);
  border: none;
  color: var(--color-light-1);
  text-transform: uppercase;
}
.forgot a {
  color: var(--color-btn-2);
  text-decoration: none;
}
.message {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}
